#graphique
{
	display: flex; 	
	flex-direction: column;
	float : left;
}

#graphique_1_0
{
	display: flex; 
}

#echelle
{
	/*display: flex;
	flex-direction: row; */
	width : 500px; 
	height : 20px;
}

#number_one
{
	float : right;
	margin-left : 450px;
}

#number_zero
{
	float : left;
}

#ordonnee
{
	width : 5px; 
	height : 500px;
	background-color : red;
}

#abcisse
{
	width : 500px; 
	height : 5px;
	background-color : red;
}

.form
{
	float : center;
}

